<body>
  <div class="container">
    <div class="jumbotron">
      <h1>About</h1>
      <h3>What is this</h3>
      This is a site where you can blackmail yourself! Make an agreement with someone
      about finishing a task on time, like your homework or some other project, then
      put up something you don't want them to know as collateral. (Something fun like
      social media passwords, dirty secrets, etc.) If you complete the task on time,
      it gets deleted and everything is fime, but if you take too long, they will get
      access to your secret :).
<br/><br/>
      <h3>How does this work</h3>
      When you make a contract with another person, you two exchange a <b>secret key</b>.
      You will input this key when creating the contract. We will use it to encrypt
      your secret, but never keep the key on our servers. If your window of time runs
      out, then we'll open up access for the other person to access the secret. Using
      your shared <b>secret key</b> they will be the only one who can decrypt your
      secret text.
<br/><br/>
      <h3>Is this safe?</h3>
      I wrote this overnight in a new language so right now I should definitely not
      make any promises regarding security. Your secret is encrypted, and we'll never
      store the encryption key, but a weak crackable key could also be a weakness, so
      make sure you pick a good one.

      Basically we take no responsibility for any information lost, personal or not.
    </div>
  </div>
</body>
